* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to bottom, #ffecd2 0%, #fcb69f71 100%);
}

h1{
  font-size: 30px;
}

header {
  display: flex;
  width: 90vw;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

footer {
  display: flex;
  width: 90vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.skinSelector{
  display: flex;
  flex-direction: row;
}

.skinSelector > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  margin: 10px;
}

.notSelectedIcon {
  border: 2px solid black;
  border-radius: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.notSelectedIcon:hover{
  background-color: rgb(224, 250, 224);
}

.selectedIcon {
  border: 2px solid green;
  background-color: lightgreen;
  border-radius: 20px;
}

td {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  border: solid 1px;
  transition: 0.5s;
}
td:hover{
  background-color: lightpink;
}

tr {
  display: flex;
}
table {
  border-collapse: collapse;
}

.cellIcon {
  height: 80px;
}

.SBIcon {
  height: 40px;
}

button {
  font-size: 20px;
  padding: 15px 20px;
  border: 0;
  border-radius: 30px;
  background-color: lightpink;
  cursor: pointer;
  transition: 0.5s;
}
button:hover{
  background-color: rgb(224, 108, 147);
}

@media (max-width: 950px) {
  h1{
    font-size: 25px;
  }

  td {
    width: 140px;
    height: 140px;
  }

  .skinSelector{
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .skinSelector > div {
    height: 50px;
    width: 50px;
  }  

  .notSelectedIcon {
    border: 2px solid black;
    border-radius: 5px;
  }

  .selectedIcon {
    border-radius: 5px;
  }

  .cellIcon {
    height: 60px;
  }

  .SBIcon {
    height: 30px;
  }
}